################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FirstPakWebApi/bin
/FirstPakWebApi/obj
/FirstPakWebApi/Properties/PublishProfiles
/FirstPakWebApi/FirstPakWebApi.csproj.user
/FirstPakWebApi/.config
/FirstPakWebApi.Data/bin
/FirstPakWebApi.Iservice/bin
/FirstPakWebApi.Iservice/obj
/FirstPakWebApi.Service/bin
/FirstPakWebApi.Service/obj
/FirstPakWebApi.Transform/bin
/FirstPakWebApi.Transform/obj
/FirstPakWebApi.ViewModel/bin
/FirstPakWebApi.ViewModel/obj
